<nb-card style="padding:10px 20px;">
  <div>
    <img src="../assets/images/download.png">
  </div>
<div style="margin:20px 0 0">A blockchain is a digitized, decentralized, public ledger of all cryptocurrency transactions. ... Doing so creates an indelible record that cannot be changed; furthermore, the record's authenticity can be verified by the entire community using the blockchain instead of a single centralized authority. 
</div><br/>
<div><strong>Use Case: Contract Management System (CMS)</strong></div>
<br/><div> 
<strong>Problem Statement:</strong></div> In booking current contracting system, to book an accommodation/hotel room, a single contract is recorded multiple times based upon the number of market sources, each source market are unable to sync and yield based upon the needs. 
<br/>
<br /><div><strong>Solution:</strong> </div>There is a need for a single Smart contract across multiple source markets which should be configurable, define rules to determine appropriate source markets demands, provide options to capture room types and fulfill accommodation needs. CMS is built on hyperledger blockchain, which enables to create a single Smart contract created across all source markets, provides options to demand for more accommodations and improve business by selling accommodation till last minute.
</nb-card>
